<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>names</key>
	<array>
		<string>Joe</string>
		<string>Bill</string>
		<string>Frank</string>
		<string>Sue</string>
		<string>Ann</string>
		<string>Phil</string>
		<string>Marie</string>
		<string>Lenny</string>
		<string>Adam</string>
		<string>David</string>
		<string>Willie</string>
		<string>Roy</string>
		<string>Chester</string>
	</array>
</dict>
</plist>
